.header {
    width: 100%;
    height: 96px;
    border-bottom: 1px solid #E4EBFA;
    display: flex;
    background-color: #FFF;
}

.permanentItems {
    padding: 24px 20px 32px 28px;
    flex: 1;
    display: flex;
}

.boardNameContainer {
    display: flex;
    flex: 1;
}

.sideBarButton {
    display: none;

    @media (max-width: 375px) {
        margin-left: 8px;
        display: inline-block;
        background: no-repeat;
        background-image: url('/icons/chevron-down.svg');
        width: 10px;
        height: 8px;

        &__isUp {
            background-image: url('/icons/chevron-up.svg');
        }
    }
}

.boardName {
    font-size: 24px;
    font-weight: 700;
        
    @media (max-width: 375px) {
        font-size: 18px;
    }
}

.addTaskButton {
    border-radius: 24px;
    font-size: 15px;
    height: 48px;
    margin-right: 24px;
    padding: 0 24px;

    &:after {
        
        content: '+ Add New Task';
        display: inline-block;
    }

    @media (max-width: 375px) {
        padding: 0 18px;

        &:after {
            content: '+';
            display: inline-block;
        }
    }
    
}

.dotsMenu {
    cursor: pointer;
    height: 20px;
    width: 5px;
    background-image: url('/icons/vertical-dots.svg');
}

.headerActions {
    display: flex;
    align-items: center;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209px;
    height: 100%;
    border-right: 1px solid $light; 
}

// TODO: reuse popup

.actionsPopup {
    position: absolute;
    border-radius: 8px;
    z-index: 1000;
    right: 24px;
    top: 90px;
    width: 192px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 16px;
  }
  
  .action {
    height: 23px;
    font-size: 13px;
    font-weight: 500;
    color: $medium-grey;
    cursor: pointer;
  
    &__isRed {
      color: $red;
    }
  
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }