.button {
    border: none;
    border-radius: 24px;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    color: #FFF;

  &__mainPurple {
    background-color: $main-purple;
  
    &:hover {
      background-color: $main-purple-hover;
    }
  }

  &__red {
    background-color: $red;

    &:hover {
      background-color: #FF9898;
    }
  }

  &__fadedPurple {
    color: $main-purple;
    background-color: rgba(99, 95, 199, 0.1);
  
    &:hover {
      background-color: rgba(99, 95, 199, 0.25);
    }
  }

  &__height40 {
    height: 40px;
  }

  &__height48 {
    height: 48px;
  }

  &__width174 {
    width: 174px;
  }

  &__isInModal {
    width: 100%;
    border-radius: 20px;
  }

  &__width200 {
    width: 200px;
  }
}