.column {
    height: 100%;
    width: 280px;
    margin-right: 24px;
}

.columnName {
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #828FA3;
    font-size: 12px;

    &:before {
        display: inline-block;
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 12px;
    }

    &__blue {
        &:before {
            background-color: #49C4E5;
        }
    }

    &__purple {
        &:before {
            background-color: #8471F2;
        }
    }

    &__green {
        &:before {
            background-color: #67E2AE;
        }
    }
}


