.container {
    display: flex;
    height: 100vh;
    position: relative;
}

.boardContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}