.container {
    display: flex;
    width: 24px;
    justify-content: space-between;
    height: 25px;
    margin-right: 16px;
}

.rectangle {
    width: 6px;
    background-color: $main-purple;
    border-radius: 2px;
}

.rectangleTwo {
    opacity: 75%;
}

.rectangleThree {
    opacity: 50%;
}