.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    padding: 40px 20px 20px;
  }

  .modalContent {
    position: relative;
    width: 480px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 32px;
    overflow-y: scroll;

    @media (max-width: 375px) {
      width: 343px;
    }
}

.section {
  margin-bottom: 24px;
}

.modalTitle {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;

  &__isRed {
    color: $red;
  }
}

.label {
  height: 15px;
  color: $medium-grey;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}

.text {
  color: $medium-grey;
  font-weight: 500;
  font-size: 13px;
}

.input {
  display: block;
  height: 40px;
  padding-left: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);

  &::placeholder {
      opacity: 25%;
  }

  &:hover {
      border-color: $main-purple;
      cursor: pointer;
  }

  &:focus-visible {
      outline: none;
      border-color: $main-purple;
  }
}

.modalHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dotsMenu {
  width: 5px;
  height: 20px;
  background-image: url('/icons/vertical-dots.svg');
  cursor: pointer;
}

.actionsPopup {
  position: absolute;
  border-radius: 8px;
  z-index: 1000;
  right: -65px;
  top: 98px;
  width: 192px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 16px;
}

.action {
  height: 23px;
  font-size: 13px;
  font-weight: 500;
  color: $medium-grey;
  cursor: pointer;

  &__isRed {
    color: $red;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}