.item {
    height: 48px;
}

.allBoards {
    text-transform: uppercase;
    font-size: 12px;
}

.createBoardLink {
    color: #635FC7;
}

.createBoardLink:before {
    content: '';
    display: inline-block;
    background: no-repeat center;
    margin-right: 15px;
    background-image: url('/icons/board-purple.svg');
    width: 16px;
    height: 16px;
}

.hideSidebar:before {
    content: '';
    display: inline-block;
    background: no-repeat center;
    margin-right: 15px;
    background-image: url('/icons/eye-icon.svg');
    width: 18px;
    height: 16px;
}