@font-face {
    font-family: PlusJakartaSans700;
    src: url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');
}

.sidebar {
    font-family: PlusJakartaSans700;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #E4EBFA;
    padding-top: 33px;
    padding-right: 20px;
    background-color: #FFF;

    @media (min-width: 376px) and (max-width: 1139px) {
        width: 260px;
    }

    @media (max-width: 375px) {
        display: none;
    }
}

.sidebar_footer {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.themeIcon{
    height: 19px;
    width: 19px;
    background: center no-repeat;
}

.themeIcon__sun{
    background-image: url('/icons/sun.svg');
}

.themeIcon__moon{
    background-image: url('/icons/moon.svg');
}

.showSideBarIcon {
    background-image: url('/icons/open-eye.svg');
    height: 10px;
    width: 16px;
}

.showSideBar {
    width: 56px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-purple;
    border-radius: 0px 100px 100px 0px;
    position: absolute;
    bottom: 32px;
}

.logoContainer {
    margin-bottom: 55px;
}